@import 'sets.css';
@import url('public-mobile.css');
/*
* HEADER : NAVBAR
*/
.navbar{
    background-color: rgba(0, 0, 0, .0);
    transition: ease-in;
    width: 100%; 
}
.nav-fixed, .nav-fixed-mobile{
    background-color: var(--light);
    border-radius: 0 0 15px 15px;
    opacity: 0.6;
    padding: 0 10px ;
    position:fixed;
    top: 0; 
}
.nav-fixed:hover, .nav-fixed-mobile:hover{
    opacity: 1; 
}

.nav-fixed-mobile{
    width: 97%;
}
/*
* MAIN
*/
#home, #about, #overview, #features, #testimonial, #contact{
    height: 100vh; 
}
/*
* MAIN : HOME
*/
#home{ 
    background-color: red;
}

/*
 * MAIN : ABOUT
*/
#about{
    background-color: yellow;
}
/*
 * MAIN : OVERVIEW
*/
#overview{
    background-color: green;
}
/*
 * MAIN : FEATURES
*/
#features{
    background-color: blue;
}
/*
 * MAIN : TESTIMONIAL
*/
#testimonial{
    background-color: rgb(211, 137, 0);
}
/*
 * MAIN : CONTACT
*/
#contact{
    background-color: rgb(255, 9, 235);
}