@import 'sets.css';
@import url('public-mobile.css');
/*
* HEADER : NAVBAR
*/
.navbar{
    background-color: rgba(0, 0, 0, .0);
    width: 100%; 
}
.nav-fixed, .nav-fixed-mobile{
    background-color: var(--light);
    border-radius: 0 0 15px 15px;
    opacity: 0.6;
    padding: 0 10px ;
    position:fixed;
    top: 0; 
}
.nav-fixed:hover, .nav-fixed-mobile:hover{
    opacity: 1;
}

.nav-fixed-mobile{
    width: 97%;
}